
@import  "./Ui.scss";

@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Shrikland';
    src: url('Shrikland/Shrikhand-Regular.ttf');
}


@mixin footerDisplay{
    background-color: rgb(53,53,53);
    padding-top: 1em;
    margin-top: 2em;
    width: 100%;
    padding-bottom: 10%;
    .ImageFooter{
        margin-top: 2em;

        margin-left: 5%;
        height: 4em;
        img{
            color: white;
            height: 100%;
        }
    }
    .Proposer ,.Partenaire,.Mention,.Contact{
        color: white;
        display: flex;
        font-size: 2.3em;
        font-family: $Police1;
        align-items: center;
        margin-left: 5%;
        i{
            margin-right: 5%;
        }
        p{
            margin-bottom: 0em;
        }
        

    }
    
    
    
}

header{
    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    
        .LogoBackSparow{
            font-size: 4em;
            margin-right: 20%;
            margin-left: 5%;
            color: black;
            a{
                color: black;
            text-decoration: none;

            }
        }
        

    
    .LogoCentral{
        img{
            height: 5em;
        }
    }
    
}
body{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0em;
}
.PhotoRestaurant{
    width: 100%;
    height: 50em;
    background-color: blue;
    position: relative;
    overflow: hidden;
    img{
        position: absolute;
        height: 100%;
    }
}
.Menu{
    position: absolute;
    top: 90%;
    z-index: 2;
    margin: 0em;
    background-color: rgb(246,246,246);
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    &__NomEtCoeur{
        display: flex;
        justify-content: space-around;
        font-size: 2.4em;
        align-items: center;
        font-family: 'Shrikland';
        &__logo{
            color: black;
            position: relative;

            font-size: 1em;
            font-weight:2em ;

            i{
                position: absolute;
                right: 0em;
                bottom: -0.5em;
                
            }
            .fas{
                z-index: 1;
                color: #FF79DA;
            }
            .far{
                z-index: 3;
            }
            &__ecran{
                z-index: 2;
                position: absolute;
                background-color: white;
                width: 1.8em;
                height: 2.1em;
                right: 0.2em;
                bottom: -1em;
                transition: bottom 400ms;

            }
            &:hover{
                .Menu__NomEtCoeur__logo__ecran {
                    bottom: -2.9em;
                }
            }

        }
        i{
            font-size: 2em;
        }
        

    }
    &__Cath{


        margin-left: 5%;
        &__text{

        font-family: $Police1__Light;
        font-size: 3.5em;
        margin-bottom: 0em;

        }
        &__soulignement{
            margin-top: 0em;
            height: 10px;
            width: 15%;
            background-color: $terciaryColor;
        }
        

    }


    &__Vignette{
        display: flex;
        width: 90%;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        border-radius: 40px;
        background-color: white;
        overflow: hidden;
        box-shadow: 0px 8px 20px #C2C2C2;
        justify-content: space-between;
        
        
            &__titre{
                font-size: 2.5em;
                font-family: $Police1__Bold;
                margin-left: 1em;
                
                
                p{
                    margin-bottom: 0em;
                    white-space: nowrap;
                    text-overflow:ellipsis;
                    overflow: hidden;
    
    
                }
    
            }
            &__Description{
                
                font-size: 2em;
                font-family: $Police1;
                display: flex;
                margin-left: 1.2em;
                margin-top: 0em;
                white-space: nowrap;
                p{
                    overflow: hidden;
                text-overflow:ellipsis;
                }
                
            }
        
        
       
    &__ValidatorEtPrix{
        
        display: flex;
        margin-bottom: 0em;
        align-items: flex-end;
        

        &__Prix{
            p{
                font-family: $Police1__Light;
                font-weight: 700;
                font-size: 3em;
                margin-right: 0.5em;
                margin-bottom: 20%;}
            

        }

        &__Validator{
            height: 100%;
            width:0em;
            background-color: #99E2D0;
            transition: width 300ms 100ms;
            &__Icon{
                height: 100%;
                display: flex;
                padding-left: 23%;
                align-items: center;

                i{
                   
                    font-size: 5em;
                    color: white;
                    transition: transform 500ms;
                }
                
            }
        }
        
       
    } 
    &:hover{
        .Menu__Vignette__Block{
            max-width: 70%;
            height: 100%;
            overflow: hidden;
            transition: width 500ms;
        }

       .Menu__Vignette__ValidatorEtPrix__Validator{
        width: 10em;
}
        .Menu__Vignette__ValidatorEtPrix__Validator__Icon{
            i{
                transform: rotateZ(360deg);
            }
        }
                

            }
    }
}
.Bouton{
    background: linear-gradient(#FF79DA,#9356DC);
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 90px;
        margin-top: 3em;
        margin-bottom: 5em;
        p{
            font-size: 3em;
            text-align: center;
            color: white;
            font-family: $Police1;
        }

}
footer{
    @include footerDisplay();
    }
