@font-face {
  font-family: 'Roboto';
  src: url("Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'RobotoBold';
  src: url("Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'RobotoLight';
  src: url("Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Shrikland';
  src: url("Shrikland/Shrikhand-Regular.ttf");
}

@-webkit-keyframes animVignette {
  0% {
    -webkit-transform: translateY(2em);
            transform: translateY(2em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animVignette {
  0% {
    -webkit-transform: translateY(2em);
            transform: translateY(2em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

header {
  width: 100%;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5%;
}

header .LogoBackSparow {
  font-size: 2em;
  margin-right: 20%;
  margin-left: 5%;
  color: black;
}

header .LogoBackSparow a {
  color: black;
  text-decoration: none;
}

header .LogoCentral img {
  width: 90%;
}

body {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0em;
}

.PhotoRestaurant {
  width: 100%;
  height: 20em;
  background-color: blue;
  position: relative;
  overflow: hidden;
}

.PhotoRestaurant img {
  position: absolute;
  left: -10%;
  width: 130%;
}

.Menu {
  position: absolute;
  top: 90%;
  z-index: 2;
  margin: 0em;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.Menu__NomEtCoeur {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Shrikland';
}

.Menu__NomEtCoeur__logo {
  color: black;
  position: relative;
  font-size: 1em;
  font-weight: 2em;
}

.Menu__NomEtCoeur__logo i {
  position: absolute;
  right: 0em;
  bottom: -0.5em;
}

.Menu__NomEtCoeur__logo .fas {
  z-index: 1;
  color: #FF79DA;
}

.Menu__NomEtCoeur__logo .far {
  z-index: 3;
}

.Menu__NomEtCoeur__logo__ecran {
  z-index: 2;
  position: absolute;
  background-color: #f6f6f6;
  width: 1.8em;
  height: 2.1em;
  right: 0.2em;
  bottom: -1em;
  -webkit-transition: bottom 400ms;
  transition: bottom 400ms;
}

.Menu__NomEtCoeur__logo:hover .Menu__NomEtCoeur__logo__ecran {
  bottom: -2.9em;
}

.Menu__NomEtCoeur i {
  font-size: 2em;
}

.Menu__Cath {
  margin-left: 5%;
}

.Menu__Cath__text {
  font-family: "RobotoLight";
  font-size: 1.2em;
  margin-bottom: 0em;
}

.Menu__Cath__soulignement {
  margin-top: 0em;
  height: 3px;
  width: 15%;
  background-color: #99e2d0;
}

.Menu__Vignette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: 0px 8px 20px #C2C2C2;
          box-shadow: 0px 8px 20px #C2C2C2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: animVignette 1s 300ms both ease-out;
          animation: animVignette 1s 300ms both ease-out;
}

.Menu__Vignette__Block {
  width: 80%;
}

.Menu__Vignette__titre {
  font-size: 1em;
  font-family: "RobotoBold";
  margin-left: 5%;
}

.Menu__Vignette__titre p {
  margin-bottom: 0em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Menu__Vignette__Description {
  font-size: 0.8em;
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1em;
  margin-top: 0em;
  white-space: nowrap;
}

.Menu__Vignette__Description p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.Menu__Vignette__ValidatorEtPrix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0em;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.Menu__Vignette__ValidatorEtPrix__Prix p {
  font-family: "RobotoLight";
  font-weight: 700;
  font-size: 1em;
  margin-right: 0.5em;
  margin-bottom: 20%;
}

.Menu__Vignette__ValidatorEtPrix__Validator {
  height: 100%;
  width: 0em;
  background-color: #99E2D0;
  -webkit-transition: width 300ms 100ms;
  transition: width 300ms 100ms;
}

.Menu__Vignette__ValidatorEtPrix__Validator__Icon {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 23%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Menu__Vignette__ValidatorEtPrix__Validator__Icon i {
  font-size: 2em;
  color: white;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.Menu__Vignette:hover .Menu__Vignette__Block {
  max-width: 70%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: width 500ms;
  transition: width 500ms;
}

.Menu__Vignette:hover .Menu__Vignette__ValidatorEtPrix__Validator {
  width: 5em;
}

.Menu__Vignette:hover .Menu__Vignette__ValidatorEtPrix__Validator__Icon i {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

.Bouton {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 90px;
  margin-top: 2em;
}

.Bouton p {
  font-size: 1em;
  text-align: center;
  color: white;
  font-family: "Roboto";
}

footer {
  background-color: #353535;
  padding-top: 1em;
  margin-top: 2em;
  width: 100%;
  padding-bottom: 10%;
}

footer .ImageFooter {
  overflow: hidden;
  margin-top: 2em;
  margin-left: 5%;
  width: 40%;
}

footer .ImageFooter img {
  color: white;
  width: 100%;
}

footer .Proposer, footer .Partenaire, footer .Mention, footer .Contact {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3em;
  font-family: "Roboto";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
}

footer .Proposer i, footer .Partenaire i, footer .Mention i, footer .Contact i {
  margin-right: 5%;
}

footer .Proposer p, footer .Partenaire p, footer .Mention p, footer .Contact p {
  margin-bottom: 0em;
}

@media screen and (min-width: 900px) {
  header {
    width: 100%;
    margin-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5%;
  }
  header .LogoBackSparow {
    font-size: 500%;
    margin-left: 5%;
    color: black;
  }
  header .LogoBackSparow a {
    color: black;
    text-decoration: none;
  }
  header .LogoCentral {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-right: none;
  }
  header .LogoCentral img {
    width: 80%;
  }
  .PhotoRestaurant {
    width: 100%;
    height: 50em;
  }
  .PhotoRestaurant img {
    left: -10%;
    width: 120%;
    min-height: 30em;
  }
  .Menu__NomEtCoeur {
    font-size: 2em;
  }
  .Menu__NomEtCoeur__logo {
    color: black;
    position: relative;
    font-size: 1em;
    font-weight: 2em;
  }
  .Menu__NomEtCoeur__logo__ecran {
    z-index: 2;
    position: absolute;
    width: 2.8em;
    height: 2.5em;
    right: 0.2em;
    bottom: -1em;
    -webkit-transition: bottom 400ms;
    transition: bottom 400ms;
  }
  .Menu__NomEtCoeur__logo:hover .Menu__NomEtCoeur__logo__ecran {
    bottom: -3.9em;
  }
  .Menu__NomEtCoeur i {
    font-size: 3em;
  }
  .Menu__Cath {
    margin-left: 5%;
  }
  .Menu__Cath__text {
    font-size: 3.2em;
  }
  .Menu__Cath__soulignement {
    width: 10%;
  }
  .Menu__Vignette {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    -webkit-box-shadow: 0px 8px 20px #C2C2C2;
            box-shadow: 0px 8px 20px #C2C2C2;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-animation: animVignette 1s 300ms both ease-out;
            animation: animVignette 1s 300ms both ease-out;
  }
  .Menu__Vignette__Block {
    width: 100%;
  }
  .Menu__Vignette__titre {
    font-size: 1.6em;
    font-family: "RobotoBold";
    margin-left: 5%;
  }
  .Menu__Vignette__titre p {
    margin-bottom: 0em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .Menu__Vignette__Description {
    font-size: 1.3em;
    font-family: "Roboto";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5%;
    margin-top: 0em;
    white-space: nowrap;
  }
  .Menu__Vignette__Description p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .Menu__Vignette__ValidatorEtPrix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0em;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .Menu__Vignette__ValidatorEtPrix__Prix p {
    font-family: "RobotoLight";
    font-weight: 700;
    font-size: 2em;
    margin-right: 0.5em;
    margin-bottom: 20%;
  }
  .Menu__Vignette__ValidatorEtPrix__Validator {
    height: 100%;
    width: 0em;
    background-color: #99E2D0;
    -webkit-transition: width 300ms 100ms;
    transition: width 300ms 100ms;
  }
  .Menu__Vignette__ValidatorEtPrix__Validator__Icon {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 23%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Menu__Vignette__ValidatorEtPrix__Validator__Icon i {
    font-size: 6em;
    color: white;
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
  }
  .Menu__Vignette:hover .Menu__Vignette__Block {
    max-width: none;
    height: 100%;
    overflow: hidden;
    -webkit-transition: width 500ms;
    transition: width 500ms;
  }
  .Menu__Vignette:hover .Menu__Vignette__ValidatorEtPrix__Validator {
    width: 10em;
  }
  .Menu__Vignette:hover .Menu__Vignette__ValidatorEtPrix__Validator__Icon i {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  .Bouton {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(#FF79DA, #9356DC);
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 90px;
    margin-top: 2em;
  }
  .Bouton p {
    font-size: 2em;
    text-align: center;
    color: white;
    font-family: "Roboto";
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #353535;
    padding-top: 1em;
    margin-top: 2em;
    padding-bottom: 5%;
    margin-right: 5%;
  }
  footer .ImageFooter {
    overflow: hidden;
    margin-top: 2em;
    margin-left: 5%;
    width: 20%;
  }
  footer .ImageFooter img {
    color: white;
    width: 100%;
  }
  footer .Proposer, footer .Partenaire, footer .Mention, footer .Contact {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.3em;
    font-family: "Roboto";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 5%;
  }
  footer .Proposer i, footer .Partenaire i, footer .Mention i, footer .Contact i {
    margin-right: 5%;
  }
  footer .Proposer p, footer .Partenaire p, footer .Mention p, footer .Contact p {
    margin-bottom: 0em;
  }
}
/*# sourceMappingURL=RestaurantCss.css.map */