
@import  "./Ui.scss";

@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Shrikland';
    src: url('Shrikland/Shrikhand-Regular.ttf');
}


@mixin footerDisplay{
    background-color: rgb(53,53,53);
    padding-top: 1em;
    margin-top: 2em;
    width: 100%;
    padding-bottom: 10%;
    .ImageFooter{
        overflow: hidden;
        margin-top: 2em;

        margin-left: 5%;
        width: 40%;
        img{
            color: white;
            width: 100%;
        }
    }
    .Proposer ,.Partenaire,.Mention,.Contact{
        color: white;
        display: flex;
        font-size: 1.3em;
        font-family: $Police1;
        align-items: center;
        margin-left: 5%;
        i{
            margin-right: 5%;
        }
        p{
            margin-bottom: 0em;
        }
        

    }
    
    
    
}
@mixin footerDisplayMobil {
    display: flex;
   
        background-color: rgb(53,53,53);
        padding-top: 1em;
        margin-top: 2em;
        padding-bottom: 5%;
        margin-right: 5%;
        .ImageFooter{
            overflow: hidden;
            margin-top: 2em;
    
            margin-left: 5%;
            width: 20%;
            img{
                color: white;
                width: 100%;
            }
        }
        .Proposer ,.Partenaire,.Mention,.Contact{
            color: white;
            display: flex;
            font-size: 1.3em;
            font-family: $Police1;
            align-items: center;
            margin-left: 5%;
            i{
                margin-right: 5%;
            }
            p{
                margin-bottom: 0em;
            }
            
    
        
        
        
        
    }
    
}
@keyframes animVignette{
    0%{
        transform: translateY(2em);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity:1;

    }
}


/*

Debut de la presentation pour Mobil 



*/
header{
    position: relative;
    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    
        .LogoBackSparow{
            position: absolute;
            font-size: 1.8em;
            color: black;
            left: 3%;
            a{
                color: black;
            text-decoration: none;

            }
        }
        

    
    .LogoCentral{
        width: 100%;

        &__image{
            margin-left: 25%;
            width: 60%;
        }
    }
    
}
body{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0em;
}
.PhotoRestaurant{
    width: 100%;
    height: 20em;
    position: relative;
    overflow: hidden;
    img{
        position: absolute;
        left: -10%;
        width: 130%;
    }
}
.Menu{
    position: absolute;
    top: 90%;
    z-index: 2;
    margin: 0em;
    background-color: rgb(246,246,246);
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    &__NomEtCoeur{
        margin-top: 1em;
        display: flex;
        
        align-items: center;
        font-family: 'Shrikland';
        position:relative;
        h1{
            flex: 2;
            margin-left: 5%;
            font-size: 150%;
        }
        &__logo{

            color: black;
            position: relative;

            font-size: 1em;
            font-weight:2em ;
            margin-right: 10%;

            i{
                position: absolute;
                right: 0em;
                bottom: -0.5em;
                
            }
            .fas{
                z-index: 1;
                color: #FF79DA;
            }
            .far{
                z-index: 3;
            }
            &__ecran{
                z-index: 2;
                position: absolute;
                background-color: rgb(246,246,246);
                width: 1.8em;
                height: 2.1em;
                right: 0.2em;
                bottom: -1em;
                transition: bottom 400ms;

            }
            &:hover{
                .Menu__NomEtCoeur__logo__ecran {
                    bottom: -2.9em;
                }
            }

        }
        i{
            font-size: 2em;
        }
        

    }
    &__Cath{


        margin-left: 5%;
        &__text{

        font-family: $Police1__Light;
        font-size: 1.2em;
        margin-bottom: 0em;

        }
        &__soulignement{
            margin-top: 0em;
            height: 3px;
            width: 15%;
            background-color: $terciaryColor;
        }
        

    }


    &__Vignette{
        display: flex;
        width: 90%;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        background-color: white;
        overflow: hidden;
        box-shadow: 0px 8px 20px #C2C2C2;
        justify-content: space-between;
        animation:animVignette 1s 300ms both ease-out ;
        &__Block{
            width: 90%;
             overflow: hidden;
            
        }
        
        
            &__titre{
                font-size: 1.2em;
                font-family: $Police1__Bold;
                margin-left: 5%;
                
                
                p{
                    margin-bottom: 0em;
                    white-space: nowrap;
                    text-overflow:ellipsis;
                    overflow: hidden;
    
    
                }
    
            }
            &__Description{
                
                font-size: 1.1em;
                font-family: $Police1;
                margin-left: 1em;
                margin-top: 0em;
                white-space: nowrap;
                p{
                    overflow: hidden;
                text-overflow:ellipsis;
                }
                
            }
        
        
       
    &__ValidatorEtPrix{
        
        display: flex;
        margin-bottom: 0em;
        align-items: flex-end;
        

        &__Prix{
            p{
                font-family: $Police1__Light;
                font-weight: 700;
                font-size: 1.2em;
                margin-right: 0.5em;
                margin-bottom: 20%;}
            

        }

        &__Validator{
            height: 100%;
            width:0em;
            background-color: #99E2D0;
            transition: width 300ms 100ms;
            &__Icon{
                height: 100%;
                display: flex;
                padding-left: 23%;
                align-items: center;

                i{
                   
                    font-size: 2em;
                    color: white;
                    transition: transform 500ms;
                }
                
            }
        }
        
       
    } 
    &:hover{
        .Menu__Vignette__Block{
            width: 60%;
            height: 100%;
            overflow: hidden;
            transition: width 500ms;
        }

       .Menu__Vignette__ValidatorEtPrix__Validator{
        width: 5em;
}
        .Menu__Vignette__ValidatorEtPrix__Validator__Icon{
            i{
                transform: rotateZ(360deg);
            }
        }
                

            }
    }
}
.Bouton{
    background: linear-gradient(#FF79DA,#9356DC);
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 90px;
        margin-top: 2em;
        transition: all 300ms;
            &:hover{
                opacity:0.8;
                box-shadow: 10px 20px 20px #888888;
                

            }
        p{
            font-size: 1em;
            text-align: center;
            color: white;
            font-family: $Police1;
        }

}
footer{
    @include footerDisplay();
    }



    /*

    debut disposition DeskTop
    
    
    */
    @media screen and (min-width: 900px){
        header{
            width: 100%;
            margin-top: 5%;
            display: flex;
            align-items: center;
            margin-bottom: 5%;
            
                .LogoBackSparow{
                    font-size: 2em;
                    margin-left: 2%;
                    color: black;
                    a{
                        color: black;
                    text-decoration: none;
        
                    }
                }
                
        
            
            .LogoCentral{
                width: 100%;
                img{
                    margin-left: 40%;
                    width: 20%;
                }
            }
            
        }
    
        .PhotoRestaurant{
            width: 100%;
            height: 20em;
            img{
            top:-120%;
        left: -10%;
        width: 120%;
        min-height: 30em;
        
            }
        }
        .Menu{
            &__CathegorieEntreePlat{
                display: flex;
                &__Cathegorie{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                }
            }
            &__NomEtCoeur{
                font-size: 1.4em;
                &__logo{
                    color: black;
                    position: relative;
        
                    font-size: 0.7em;
                    font-weight:2em ;
         
                    &__ecran{
                        z-index: 2;
                        position: absolute;
                        width: 2.8em;
                        height: 2.5em;
                        right: 0.2em;
                        bottom: -1em;
                        transition: bottom 400ms;
        
                    }
                    &:hover{
                        .Menu__NomEtCoeur__logo__ecran {
                            bottom: -3.9em;
                        }
                    }
        
                }
                i{
                    font-size: 2.5em;
                }
                
        
            }
            &__Cath{
                margin-left: 5%;
                &__text{
                    margin-top: 1em;
                    margin-left: 40%;
                    font-size: 1em;
        
                }
                &__soulignement{
                    margin-left: 40%;
                    width: 10%;
                    max-width: 6em;
                }
                
        
            }
        
        
            &__Vignette{
                display: flex;
                width: 90%;
                max-width: 40em;
                margin-top: 1.0em;
                margin-left: auto;
                margin-right: auto;
                border-radius: 20px;
                background-color: white;
                overflow: hidden;
                box-shadow: 0px 8px 20px #C2C2C2;
                justify-content: space-between;
                animation:animVignette 1s 300ms both ease-out ;
                &__Block{
                    width: 80%;
                }
                
                
                    &__titre{
                        font-size: 0.8em;
                        font-family: $Police1__Bold;
                        margin-left: 1em;
                        
                        
                        p{
                            margin-bottom: 0em;
                            white-space: nowrap;
                            text-overflow:ellipsis;
                            overflow: hidden;
            
            
                        }
            
                    }
                    &__Description{
                        
                        font-size: 0.8em;
                        font-family: $Police1;
                        display: flex;
                        margin-left: 1em;
                        margin-top: 0em;
                        white-space: nowrap;
                        p{
                            overflow: hidden;
                        text-overflow:ellipsis;
                        }
                        
                    }
                
                
               
            &__ValidatorEtPrix{
                
                display: flex;
                margin-bottom: 0em;
                align-items: flex-end;
                
        
                &__Prix{
                    p{
                        font-family: $Police1__Light;
                        font-weight: 700;
                        font-size: 1em;
                        margin-right: 0.5em;
                        margin-bottom: 20%;}
                    
        
                }
        
                &__Validator{
                    height: 100%;
                    width:0em;
                    background-color: #99E2D0;
                    transition: width 300ms 100ms;
                    &__Icon{
                        height: 100%;
                        display: flex;
                        padding-left: 23%;
                        align-items: center;
        
                        i{
                           
                            font-size: 1.5em;
                            color: white;
                            transition: transform 500ms;
                        }
                        
                    }
                }
                
               
            } 
            &:hover{
                .Menu__Vignette__Block{
                    max-width: none;
                    height: 100%;
                    overflow: hidden;
                    transition: width 500ms;
                }
        
               .Menu__Vignette__ValidatorEtPrix__Validator{
                width: 5em;
        }
                .Menu__Vignette__ValidatorEtPrix__Validator__Icon{
                    i{
                        transform: rotateZ(360deg);
                    }
                }
                        
        
                    }
            }
        }
        .Bouton{
            background: linear-gradient(#FF79DA,#9356DC);
                width: 15%;
                margin-left: auto;
                margin-right: auto;
                border-radius: 90px;
                margin-top: 2em;
                p{
                    font-size: 1em;
                    text-align: center;
                    color: white;
                    font-family: $Police1;
                }



    }
    footer{
        @include footerDisplayMobil();
        
    }


}
