@import "UI.scss";


$OpacityAnim: 1;

@mixin presentationVignette {
        display: flex;
        font-size: 1.4em;
        font-family: $Police1__Bold;
        justify-content: space-around;
        align-items: center;
        background-color: $backgroundGreyLighter;
        position: relative;
        width: 85%;
        margin-right: 5%;
        margin-left: auto;
        border-radius: 60px;
        padding-top: 2%;
        padding-bottom: 2%;
        box-shadow: 0px 2px 20px #c2c2c2;
        margin-bottom: 2em;
        &__pastille{
            position:absolute;
            left: -5%;
            background-color: $primaryColor;
            border-radius: 100px;
            p{
                color: white;
                margin: 0.2em;
                margin-left: 0.5em;
                margin-right: 0.5em;


            }
            


        }
        &__logo{
            margin-left: 5%;
            font-size: 1.3em;
            color: gray;
        }
}




@mixin footerDisplay{
    background-color: rgb(53,53,53);
    margin-top: 1em;
    width: 100%;
    padding-bottom: 5%;
    overflow: hidden;
    .ImageFooter{
        margin-top: 2em;

        margin-left: 5%;
        img{
            color: white;
            width: 40%;
        }
    }
    .Proposer ,.Partenaire,.Mention,.Contact{
        color: white;
        display: flex;
        font-size: 1.2em;
        font-family: $Police1;
        align-items: center;
        margin-left: 5%;
        i{
            margin-right: 5%;
        }
        a{
            text-decoration: none;color: white;
        }
        p{
            margin-bottom: 0em;
        }
        

    }
    
    
    
}
@mixin presentationVignetteDesktop {
    display: flex;
    flex-direction: column;
    font-size: 1.0em;
    font-family: $Police1__Bold;
    justify-content: space-around;
    align-items: center;
    background-color: $backgroundGreyLighter;
    position: relative;
    margin-right: 5%;
    margin-left: 1em;
    border-radius: 15px;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0px 2px 20px #c2c2c2;
    margin-bottom: 2em;
    p{
        text-align: center;
    }
    &__pastille{
        position:absolute;
        left: 47%;
        bottom: -10%;
        background-color: $primaryColor;
        border-radius: 100px;
        p{
            color: white;
            margin: 0.2em;
            margin-left: 0.5em;
            margin-right: 0.5em;


        }
        


    }
    &__logo{
        margin-left: 5%;
        font-size: 2.3em;
        color: gray;
    }
}

@keyframes AnimLoading{
    0%{

        }


    
    10%{

        

    }
    99%{
        opacity: 0.2;
    }
    100%{
        
        opacity: 1;
    }
}
@keyframes animBoule{
    0%{

    }
    50%{

        background-color: white;
        transform: translateY(-2em)
    }
    100%{
        transform: translateY(0em)

    }

}
@keyframes displayLoading{
    0%{
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


/*
Commencement de SCSS pour le style mobil.
*/

body{
    position: relative;
    margin: 0em;
    margin-right: 0em;
}
.AnimationLoadingPage{
    position: absolute;
    top:5%;
    width: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity:0;
    animation: displayLoading 3s 5ms;
    
    &__image{
        overflow: hidden;
        width: 100%;
        img{
            width: 100%;
        }
    }
    &__boules{
        display: flex;
        margin-top: 2em;
        &__boule1{
            margin: 1em;
            height: 3em;
            width: 3em;
            background-color: $primaryColor;
            animation: animBoule 2s infinite;
    
        }
        &__boule2{

            margin: 1em;
            height: 3em;
            width: 3em;
            background-color: $secondaryColor;

            animation: animBoule 2s 300ms infinite;


        }
        &__boule3{

            margin: 1em;
            height: 3em;
            width: 3em;
            background-color: $terciaryColor;
            animation: animBoule 2s 600ms infinite;
        }

    }
    
}
.Corps{
    opacity: 0.2;
    animation:AnimLoading 3s both ease-out;
}

header{
    
    position: relative;
    padding-bottom: 2em;
    box-shadow: 0px 2px 10px grey;
    overflow-y: hidden;

    .LogoCentral {
        margin-top: 1em;
        display: flex;
        width: 100%;
        justify-content: center;
        &__image{
        width: 70%;
    
        
    }
    }
    

}

.localisation{
    font-family: $Police1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $backgroundGreyDarker;

        &__iconLocalisation{
            font-size: 2em;
            
            

        }
        &__textLocalisation{
            margin-left: 1.5em;
            font-size: 1.7em;
            white-space: nowrap;
        }

}
.AnnonceSlogan{
    background-color: $backgroundGreyLighter;
    margin-top: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__Slogan{
        margin-top: 0em;
        font-family: $Police1__Bold;
        margin-top: 2em;
        font-size: 2em;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }
    &__sousTitre{
        font-family: $Police1__Light;
        font-size: 1.3em;
        text-align: center;
    }
    &__btnExplorerNosRestaurants{
        background: linear-gradient(#FF79DA,#9356DC);
        width: 70%;
        border-radius: 90px;
        margin-top: 1em;
        margin-bottom: 1em;
        transition: opacity 200ms;
        p{
            font-size: 1.4em;
            text-align: center;
            color: white;
            font-family: $Police1;
        }
        &:hover{
            opacity:0.6;
            box-shadow: 10px 10px 10px #888888;

        }

    }
}
.TitreFonctionnement{
    font-size: 2.2em;
    font-family: $Police1__Bold;
    margin-left: 5%;
    margin-top: 4em;
    margin-bottom: 2em
}
.vignettesFonctionnement{


    &__ChoixRestaurant{
        @include presentationVignette;



        

    }
    &__CompositionMenu{
        @include presentationVignette();
    }
    &__Degustez{
        @include presentationVignette(
        );
        background-color: rgb(245, 236, 254);
    }
    

    


}

.Restaurants{
    background-color: $backgroundGreyLighter;
    padding-top: 2em;

   
    &__titre{
        font-family: $Police1__Bold;
        font-size: 2em;
        margin-bottom: 0em;
        background-color: $backgroundGreyLighter;

    }
    a{
    color: black;
        text-decoration: none;
    }
    &__vignette{
        margin-bottom: 3em;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        border-radius: 40px;
        width: 90%;
        background-color: white;
        box-shadow: 0px 5px 10px #C2C2C2;
        &__image{
            overflow: hidden;
            position: relative;
            transition: opacity 300ms;
            &:hover{
                opacity:0.8
            }
            img{
                min-height:100% ;
                width: 100%;
            }
            &__Nouveau{
                position: absolute;
                right: 3%;
                top: 5%;
                background-color: rgb(158,227,208);
                font-family: $Police1;
                font-size: 1.4em;
                border-radius: 14px;
                p{
                    opacity: 0.5;
                    margin: 0.5em;
                }
            }
        }
        &__description{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 4%;
            &__text{
                &__Nom{
                    font-size: 1.5em;
                    font-family: $Police1__Bold;
                    margin-bottom: 0em;
                    transition: opacity 300ms;
            &:hover{
                opacity:0.8
            }
                }
                &__Adresse{
                    font-family: $Police1__Light;
                    font-size: 1.3em;
                    margin-top: 0em;
                }
            }
            &__logo{
                color: black;
                position: relative;

                font-size: 2.5em;
                margin-right: 5%;

                i{
                    position: absolute;
                    right: 0em;
                    bottom: -0.5em;
                    
                }
                .fas{
                    z-index: 1;
                    color: #FF79DA;
                }
                .far{
                    z-index: 3;
                }
                &__ecran{
                    z-index: 2;
                    position: absolute;
                    background-color: white;
                    width: 1em;
                    height: 0.75em;
                    right: 0em;
                    bottom: -0.34em;
                    transition: bottom 400ms;

                }
                &:hover{
                    .Restaurants__vignette__description__logo__ecran {
                        bottom: 0.5em;
                    }
                }

            }
        }

    }
}
footer{
   @include footerDisplay();  
}
@media screen and (min-width: 800px) {

    header{
        .LogoCentral{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            &__image{
                width: 20%;
            }
        }

    }
    .AnimationLoadingPage{
        top:20%;
        &__image{
            width: 20%;
        }

    }
    .localisation{
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        border-radius: 34px;
        margin-top: 2em;
        margin-bottom: 2em;
        &__iconLocalisation{
            font-size: 2em;
            
            

        }
        &__textLocalisation{
            margin-left: 1.5em;
            font-size: 1.5em;
            white-space: nowrap;
            padding-right: 13%;
        }
            
    
    }
    .AnnonceSlogan{
        background-color: $backgroundGreyLighter;
        margin-top: 0em;
        display: flex;
        flex-direction: row;
        width: auto;
        margin-bottom: 2em;
        &__Slogan{
            margin-top: 0em;
            margin-top: 2em;
            font-size: 1em;
            margin-left: 5%;
            margin-right: 5%;
            text-align:right;
            white-space: nowrap;
        }
        &__sousTitre{
            font-size: 1em;
            text-align: left;
            margin-right: 1em;
        }
        &__btnExplorerNosRestaurants{
            width: 24%;
            border-radius: 1em;
            margin-right: 1em;
            white-space: nowrap;
            p{
                margin-left: auto;
                margin-right: auto;
                font-size: 1em;
                text-align: center;
            }
    
        }
    }
    .TitreFonctionnement{
        margin-top: 0em;
        font-size: 2em;
        text-align: center
    }
    .vignettesFonctionnement{
        display: flex;
        margin-left: 10%;
        margin-right: 10%;


        &__ChoixRestaurant{
            @include presentationVignetteDesktop();
    
    
    
            
    
        }
        &__CompositionMenu{
            @include presentationVignetteDesktop();
        }
        &__Degustez{
            @include presentationVignetteDesktop(
            );
            background-color: rgb(245, 236, 254);
        }
        
    
        
    
    
    }
    .Restaurants{
        padding-top: 2em;
        display: flex;
    
       
        &__titre{
            font-size: 2em;
            text-align: center;
    
        }
        a{
        color: black;
            text-decoration: none;
        }
        &__vignette{
            margin-bottom: 3em;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
            border-radius: 0px;
            background-color: white;
            box-shadow: 0px 5px 10px #C2C2C2;
            height: 20em;
            &__image{
                overflow: hidden;
                height: 50%;
                position: relative;
                img{
                    position: absolute;
                    width: 100%;
                }
                &__Nouveau{
                    z-index: 3;
                    position: absolute;
                    right: 2%;
                    top: 2%;
                    background-color: rgb(158,227,208);
                    font-family: $Police1;
                    font-size: 1.4em;
    
                    border-radius: 14px;
                    p{
                        opacity: 0.5;
                        margin: 0.5em;
                    }
                }
            }
            &__description{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin-left: 4%;
                &__text{
                    &__Nom{
                        font-size: 1em;
                        font-family: $Police1__Bold;
                        text-align: center;
                        height: 3em;
                    }
                    &__Adresse{
                        font-family: $Police1__Light;
                        font-size: 0.8em;
                        margin-top: 0em;
                        text-align: center;
                    }
                }
                &__logo{
                    margin-left: 20%;
                    margin-top: 10%;
                    color: black;
                    position: relative;
                    font-size: 2em;
    
                    i{
                        position: absolute;
                        
                    }
                    .fas{
                        z-index: 1;
                        color: #FF79DA;
                    }
                    .far{
                        z-index: 3;
                    }
                    &__ecran{
                        z-index: 2;
                        position: absolute;
                        background-color: white;
                        width: 1em;
                        height: 0.75em;
                        right: 0em;
                        bottom: -0.34em;
                        transition: bottom 400ms;
    
                    }
                    &:hover{
                        .Restaurants__vignette__description__logo__ecran {
                            bottom: 0.5em;
                        }
                    }
    
                }
            }
    
        }
    }

footer{
    display: flex;
    flex-direction: row;
    .ImageFooter{
        width: 20%;
        img{
            width: 100%;
            height: auto;
        }

    }
    .Contact{
        margin-right: 1em;
    }
    a{
        text-decoration: none;
        color: white;
    }
}
    
  }
  