
$primaryColor: rgb(147, 86, 220);
$secondaryColor: rgb(255, 121, 218);
$terciaryColor: rgb(153, 226, 208);

$backgroundGreyDarker: rgb(234,234,234);
$backgroundGreyLighter: rgb(246,246,246);

$Police1 : 'Roboto';
$Police1__Bold: 'RobotoBold';
$Police1__Light:'RobotoLight';

@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'RobotoLight';
    src: url('Roboto/Roboto-Light.ttf');
}